<!-- signup form -->
<div class="body">
  <div>
    <form [formGroup]="userForm">
      <div class="form-fields">
        <p>NAME</p>
        <input type="text" placeholder="John Doe" formControlName="name" />
      </div>

      <div class="form-fields">
        <p>PHONE NUMBER</p>
        <input
          type="number"
          placeholder="9999999999"
          formControlName="phoneNumber"
        />
      </div>

      <div class="form-fields">
        <p>PASSWORD</p>
        <input
          type="password"
          placeholder="John@123"
          formControlName="password"
        />
      </div>

      <div class="btn-primary">
        <button (click)="signup()">
          SIGN UP
        </button>
      </div>
    </form>
  </div>
</div>
